@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

* {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
  text-transform: capitalize;
}

input,
textarea,
select {
  text-transform: none !important;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: #F3F4F6;
  color: var(--text-color);
  --text-color-2: #4572ed;
  --text-color-3: #ffffff;
  --background-bg-2: #4572ed;
}

:root {
  --text-color-2: #4572ed;
  --background-bg-2: #4572ed;

    --text-color-3: #ffff;

}

#root:first-child {
  max-width: 5% !important; 
}

#root:last-child {
  max-width: 85% !important;
}

.css-1k81fv-MuiStepConnector-root {
    -webkit-flex: 1 1 auto!important;
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
    position: absolute!important;
    top: 28px!important;
    left: calc(-50% + 27px)!important;
    right: calc(50% + 27px)!important;
}

.css-14ncu80-MuiStepConnector-line {
    display: block!important;
    border-color: #2563eb!important;
    border-top-style: solid!important;
    border-top-width: 6px!important;
}

.css-1uutujk {
    width: 100%;
}

.css-64muso-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 0px!important;
}

.css-1wem31q-MuiTableCell-root {
border-bottom: none!important;
}

.css-8x1qdf-MuiTableCell-root {
    border-bottom: none!important;
}

.css-1wem31q-MuiTableCell-root {
  border-right: 2px solid black!important;
  border-left: 2px solid black!important;
}

.css-1pwc4ed-MuiTableCell-root{
  border-right: 2px solid black!important;
  border-top: 2px solid black!important;
}

.css-cd6iln-MuiTableCell-root {
  border-right: 2px solid black!important;
  border-top: 2px solid black!important;
}

.css-1qy54or-MuiGrid-root {
    box-sizing: border-box!important;
    display: flex!important;
    flex-wrap: wrap!important;
    width: 100%!important;
    flex-direction: row!important;
    margin-top: calc(-1 * 0px)!important;
    width: calc(100% + 0px)!important;
    margin-left: calc(-1 * 0px)!important;
    margin-bottom: 0px!important;
    padding-left: 8px!important;
    padding-right: 8px!important;
    border-left: 2px solid black!important;
    border-top: 2px solid black!important;
    border-right: 2px solid black!important;
}






